htdocs/bocsy.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://bocsy.komput.net/bocsy.php" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="BOCSy" targetNamespace="http://bocsy.komput.net/bocsy.php">
	<wsdl:types>
		<xsi:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bocsy.komput.net/bocsy.php" elementFormDefault="qualified">
			<xsi:complexType name="Timestamp">
				<xsi:all>
					<xsi:element name="timestart" type="xsi:int"/>
					<xsi:element name="timestop" type="xsi:int"/>
				</xsi:all>
			</xsi:complexType>
			<xsi:complexType name="FailureMessage">
				<xsi:all>
					<xsi:element name="faultCode" type="xsi:int"/>
					<xsi:element name="faultString" type="xsi:string"/>
				</xsi:all>
			</xsi:complexType>
			<xsi:complexType name="TLastDo">
				<xsi:all>
					<xsi:element name="LastRole" type="xsi:string"/>
					<xsi:element name="LastJob" type="xsi:string"/>
					<xsi:element name="LastRoom" type="xsi:string"/>
					<xsi:element name="Finish" type="xsi:string"/>
				</xsi:all>
			</xsi:complexType>
			<xsi:complexType name="JobList">
				<xsi:all>
					<xsi:element name="id" type="tns:ArrayString"/>
					<xsi:element name="job" type="tns:ArrayString"/>
				</xsi:all>
			</xsi:complexType>
			<xsi:complexType name="RoomList">
				<xsi:all>
					<xsi:element name="id" type="tns:ArrayString"/>
					<xsi:element name="room" type="tns:ArrayString"/>
				</xsi:all>
			</xsi:complexType>
			<xsi:complexType name="RoleList">
				<xsi:all>
					<xsi:element name="id" type="tns:ArrayString"/>
					<xsi:element name="role" type="tns:ArrayString"/>
				</xsi:all>
			</xsi:complexType>
			<xsi:complexType name="ArrayString">
				<xsi:attribute ref="soapenc:arrayType"/>
			</xsi:complexType>
		</xsi:schema>
	</wsdl:types>
	<wsdl:message name="LoginRequest">
		<wsdl:part name="username" type="xs:string"/>
		<wsdl:part name="password" type="xs:string"/>
		<wsdl:part name="ip" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="LoginResponse">
		<wsdl:part name="session" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="TLoginRequest">
		<wsdl:part name="session" type="xs:string"/>
		<wsdl:part name="role" type="xs:string"/>
		<wsdl:part name="room" type="xs:string"/>
		<wsdl:part name="job" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="TLoginResponse">
		<wsdl:part name="success" type="xs:boolean"/>
	</wsdl:message>
	<wsdl:message name="LogoutRequest">
		<wsdl:part name="session" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="LogoutResponse">
		<wsdl:part name="success" type="xs:boolean"/>
	</wsdl:message>
	<wsdl:message name="UserNameRequest">
		<wsdl:part name="session" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="UserNameResponse">
		<wsdl:part name="name" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="FailureMessage">
		<wsdl:part name="error" type="tns:FailureMessage"/>
	</wsdl:message>
	<wsdl:message name="TLogoutRequest">
		<wsdl:part name="session" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="TLogoutResponse">
		<wsdl:part name="success" type="xs:boolean"/>
	</wsdl:message>
	<wsdl:message name="TLastLogRequest">
		<wsdl:part name="session" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="TLastLogResponse">
		<wsdl:part name="timestamp" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="TLastDoRequest">
		<wsdl:part name="session" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="TLastDoResponse">
		<wsdl:part name="response" type="tns:TLastDo"/>
	</wsdl:message>
	<wsdl:message name="GetUIDRequest">
		<wsdl:part name="session" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="GetUIDResponse">
		<wsdl:part name="response" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="ListRequest">
		<wsdl:part name="session" type="xs:string"/>
	</wsdl:message>
	<wsdl:message name="JobResponse">
		<wsdl:part name="response" type="tns:JobList"/>
	</wsdl:message>
	<wsdl:message name="RoomResponse">
		<wsdl:part name="response" type="tns:RoomList"/>
	</wsdl:message>
	<wsdl:message name="RoleResponse">
		<wsdl:part name="response" type="tns:RoleList"/>
	</wsdl:message>
	<wsdl:portType name="Bocsy">
		<wsdl:operation name="Login">
			<wsdl:input message="tns:LoginRequest"/>
			<wsdl:output message="tns:LoginResponse"/>
			<wsdl:fault name="Failure" message="tns:FailureMessage"/>
		</wsdl:operation>
		<wsdl:operation name="TLogin">
			<wsdl:input message="tns:TLoginRequest"/>
			<wsdl:output message="tns:TLoginResponse"/>
		</wsdl:operation>
		<wsdl:operation name="Logout">
			<wsdl:input message="tns:LogoutRequest"/>
			<wsdl:output message="tns:LogoutResponse"/>
		</wsdl:operation>
		<wsdl:operation name="UserName">
			<wsdl:input message="tns:UserNameRequest"/>
			<wsdl:output message="tns:UserNameResponse"/>
		</wsdl:operation>
		<wsdl:operation name="TLogout">
			<wsdl:input message="tns:TLogoutRequest"/>
			<wsdl:output message="tns:TLogoutResponse"/>
		</wsdl:operation>
		<wsdl:operation name="TLastLog">
			<wsdl:input message="tns:TLastLogRequest"/>
			<wsdl:output message="tns:TLastLogResponse"/>
		</wsdl:operation>
		<wsdl:operation name="TLastDo">
			<wsdl:input message="tns:TLastDoRequest"/>
			<wsdl:output message="tns:TLastDoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetUID">
			<wsdl:input message="tns:GetUIDRequest"/>
			<wsdl:output message="tns:GetUIDResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetJobList">
			<wsdl:input message="tns:ListRequest"/>
			<wsdl:output message="tns:JobResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetRoomList">
			<wsdl:input message="tns:ListRequest"/>
			<wsdl:output message="tns:RoomResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetRoleList">
			<wsdl:input message="tns:ListRequest"/>
			<wsdl:output message="tns:RoleResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Bocsy" type="tns:Bocsy">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Login">
			<soap:operation soapAction="urn:#Login"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:output>
			<wsdl:fault name="Failure"/>
		</wsdl:operation>
		<wsdl:operation name="TLogin">
			<soap:operation soapAction="urn:#TLogin"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Logout">
			<soap:operation soapAction="urn:#Logout"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UserName">
			<soap:operation soapAction="urn:#UserName"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TLogout">
			<soap:operation soapAction="urn:#TLogout"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TLastLog">
			<soap:operation soapAction="urn:#TLastLog"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TLastDo">
			<soap:operation soapAction="urn:#TLastDo"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetUID">
			<soap:operation soapAction="urn:#GetUID"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetJobList">
			<soap:operation soapAction="urn:#GetJobList"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRoomList">
			<soap:operation soapAction="urn:#GetRoomList"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetRoleList">
			<soap:operation soapAction="urn:#GetRoleList"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://bocsy.komput.net/bocsy.php"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BOCsy">
		<wsdl:port name="bocsy" binding="tns:Bocsy">
			<soap:address location="http://bocsy.komput.net/bocsy.php"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
